[submodule "repos/lila"]
	path = repos/lila
	url = https://github.com/Ootzk/chess-opening-duel-lila.git
[submodule "repos/chessground"]
	path = repos/chessground
	url = https://github.com/Ootzk/chess-opening-duel-chessground.git
[submodule "repos/scalachess"]
	path = repos/scalachess
	url = https://github.com/Ootzk/chess-opening-duel-scalachess.git
[submodule "repos/lila-db-seed"]
	path = repos/lila-db-seed
	url = https://github.com/Ootzk/chess-opening-duel-db-seed.git
[submodule "repos/lila-ws"]
	path = repos/lila-ws
	url = https://github.com/Ootzk/chess-opening-duel-lila-ws.git
